<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/post_user">
        <label>username</label>
        <input id="username" name="username" type="text"></input>
        <label>email</label>
        <input id="email" name="email" type="text"></input>
        <input type="submit">
    </form>

    <!--{% for user in myUser %}-->
        <!--<li> {{ user.id }}. {{ user.username }} - {{ user.email }}</li>-->
    <!--{% endfor %}-->
    <!--&lt;!&ndash;the can be also oneItem.username&ndash;&gt;-->
    <!--{{ oneItem }}-->

</body>
</html>